.modal .modal-dialog .modal-content {
  border-radius: 4px;
  box-shadow: none;
}

.modal.modal-danger .modal-header {
  background-color: #f1556c;
  color: #fff;
}

.modal .modal-dialog .modal-header {
  font-family: Open Sans,sans-serif;
}

.modal-header {
  background-color: #f1556c;
  border-radius: 4px 4px 0 0;
  padding: 15px 20px;
  border-bottom: none;
}

.modal-danger .modal-header .close {
  opacity: .6;
}